* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-tweet: #1d9bf0;
  --clr-white: #edede9;
  --shadow: 0px 28px 36px 12px rgba(34, 60, 80, 0.2);
}

@font-face {
  font-family: 'sf';
  src: url('./assets/font/SF-Pro-Display-Regular.otf');
}

body,
html {
  background-color: #131313;
  color: var(--clr-white);
  font-family: 'sf';
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

.notActive {
  display: none;
}

.navigation {
  width: 40%;
  // max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .navigation_inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .user_profile {
      padding-bottom: 1rem;
      gap: 1rem;
      display: flex;

      .user_email {
        color: #cacaca50;
      }
    }
  }

  .logo {
    padding: 0.4rem 1rem;
  }

  nav {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    gap: 0.4rem;
    a {
      display: flex;
      gap: 1rem;
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 1.1rem;
      padding: 1rem;
      border-radius: 1rem;
      transition: 0.25s ease;

      &:hover {
        background-color: #272727;
      }
    }
  }
}

.main_wrapper {
  display: flex;
  gap: 1rem;
  height: 100%;
}

main {
  width: 100%;
}

aside {
  width: 50%;
}

.home_content {
  .tweet_input {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    img {
      width: 40px;
      height: 40px;
    }

    textarea {
      background: none;
      border: none;
      color: white;
      outline: none;
      width: 100%;
      height: 100px;
      max-height: 400px;
      font-size: 1.5rem;
      resize: none;
      transition: 0.25s ease all;

      &::placeholder {
        font-size: 1.5rem;
      }
      &:focus {
        outline: none;
      }
      &::-webkit-scrollbar {
        width: 0px;
      }
    }
    .tweet_top {
      display: flex;
      gap: 1rem;
    }

    .tweet_bottom {
      display: flex;
      justify-content: space-between;

      .icons {
        display: flex;
        gap: 0.5rem;

        button {
          background: none;
          border: none;
          cursor: pointer;

          &:hover {
            img {
              transform: scale(1.1);
            }
          }

          img {
            transition: 0.25s ease all;
            width: 25px;
            height: 25px;
          }
        }
      }

      .submit_tweet {
        background-color: var(--clr-tweet);
        padding: 1rem 2.5rem;
        border-radius: 2rem;
        font-size: 1rem;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: 0.25s ease all;

        &:hover {
          background-color: #4baff1;
        }
      }
    }
  }
}

.signup,
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #edede9;
  border-radius: 1rem;
  width: 400px;
  max-height: 100%;
  padding: 1rem;

  input {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--clr-white);
    margin-bottom: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    color: var(--clr-white);
    outline: none;
    background: none;
  }
  a {
    color: #0077b6;
  }

  h2 {
    text-align: center;
  }

  #submit {
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;
    transition: 0.25s ease all;
    cursor: pointer;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-bottom: 1rem;

    &:hover {
      background: var(--clr-tweet);
    }
  }
}

.tweets_inner {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 1rem;

  .edit_tweet_popup {
    border: 1px solid grey;
    border-radius: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    min-height: 50%;
    transform: translate(-50%, -50%);
    background-color: #272727;

    display: flex;
    flex-direction: column;
    align-items: start;

    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);

    padding: 2rem;

    .edit_tweet_popup_inner {
      width: 100%;
      textarea {
        background: none;
        border: none;
        color: white;
        outline: none;
        width: 100%;
        height: 100px;
        max-height: 400px;
        font-size: 1.5rem;
        resize: none;
        transition: 0.25s ease all;

        &::placeholder {
          font-size: 1.5rem;
        }
        &:focus {
          outline: none;
        }
        &::-webkit-scrollbar {
          width: 0px;
        }
      }
    }
  }
}

.posted_tweet {
  display: flex;
  flex-direction: column;
  border: 1px solid #cacaca30;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  .posted_tweet_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .posted_tweet_text {
    width: 38vw;
    text-wrap: wrap;
    word-wrap: break-word;
    color: #cacaca89;
  }
}

.go2072408551 {
  color: red;
}

.posted_tweet_actions {
  display: flex;
  align-items: center;
  padding-top: 1rem;

  button {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0.5rem;
  }

  .posted_tweet_actions_like {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .posted_tweet_actions_delete button {
    path {
      transition: 0.25s ease all;
      &:hover {
        color: tomato;
      }
    }
  }
}

.messages {
  display: flex;
  gap: 1rem;
  height: 100%;

  .navigation {
    width: 25%;
  }

  .messages_inner {
    width: 100%;
    border: 1px solid;
    display: flex;
    border-radius: 1rem;
    width: 100%;

    input {
      background: none;
      padding: 1rem 2rem;
      width: 100%;
      color: white;
      border: none;
      border-bottom: 1px solid grey;
      outline: none;
    }

    .dialogues {
      border-right: 1px solid;
    }

    .friends {
      position: relative;

      .searchForUsers {
        position: absolute;
        background-color: #777;
        width: 100%;

        .user_search {
          display: flex;
          align-items: center;
          padding: 1rem;
          gap: 1rem;
          cursor: pointer;
        }
      }
    }

    .friends_user {
      display: flex;
      gap: 1rem;
      padding: 1rem;
      width: 100%;
      transition: 0.25s ease all;
      cursor: pointer;

      &:hover {
        background-color: #cacaca30;
      }
    }
  }
}

.profile {
  display: flex;
  height: 100%;

  .navigation {
    width: 25%;
  }
}
